*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    color:#fff;
}
body{
    background-color: black;
    overflow-x: hidden;
    /* overflow: hidden; */
} 
#page1{
    height: 100%;
    width: 100%;
    
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;

    background-color: lightblue;
    /* justify-content: center; */
    align-items: center;
}
h1{
    font-size: 50vw;
    transform: translateX(30%);
}
#page3{
    height: 100%;
    width: 100%;   
    background-color: black; 
}
